---

---

<main style="text-align: center;" class="container">
  <h1>برنامج connect</h1>
  <h3>
    كونكت يربط الخبراء بالمنشآت، جد المهارات التي تحتاجها لبدء مشروعك، أو، جد
    فريق أحلامك
  </h3>
  <div class="grid">
    <article>
      <header>للمنشآت</header>
      <p>
        جد المهارات والخبرات المطلوبة لنقل مشروعك إلى المرحلة التالية، إصنع
        نجاحك مع connect
      </p>
      <footer>
        <button>إبدأ الآن</button>
      </footer>
    </article>
    <article>
      <header>لأصحاب الهمم</header>
      <p>
        جد الشركات الناشئة والمشاريع الواعدة وانضم إلى شركات المستقبل واصنع
        الأثر
      </p>
      <footer>
        <button>إبدأ الآن</button>
      </footer>
    </article>
  </div>
  <h2>اطّلع على المسجّلين</h2>
  <div class="grid">
    <article>
      <header>عبدالله الحصيني</header>
      <p>مستشار تقني مختص بتعلم الآلة والBackEnd</p>
      <footer>
        <button style="background-color:#00aa00"> تواصل معي </button>
      </footer>
    </article>
    <article>
      <header>سلطان الحديثي</header>
      <p>خبير تسويق وهندسة مبيعات Marketing & Sales Engineering</p>
      <footer>
        <button style="background-color:#00aa00"> تواصل معي </button>
      </footer>
    </article>
  </div>

  <h2>إنضم إلى كونكت وارسم مستقبلك الآن</h2>
  <p>كن جزء من مجتمع مؤسسي شركات المستقبل في المملكة</p>
  <button>أريد البدء</button>
</main>

<style>
  .grid {
    align-items: stretch;
  }

  article {
    display: flex;
    flex-direction: column;
  }

  article > footer {
    margin-top: auto;
  }

  button {
    background-color: #ff0000;
    color: #fbfbfb;
    font-weight: bold;
  }
</style>
