---

---

<main style="text-align: center;" class="container">
  <h1>برنامج connect</h1>
  <h3>
    كونكت يربط الخبراء بالمنشآت، جد المهارات التي تحتاجها لبدء مشروعك، أو، جد
    فريق أحلامك
  </h3>
  <div class="grid">
    <article>
      <header>للمنشآت</header>
      <p>
        جد المهارات والخبرات المطلوبة لنقل مشروعك إلى المرحلة التالية، إصنع
        نجاحك مع connect
      </p>
      <footer>
        <button>إبدأ الآن</button>
      </footer>
    </article>
    <article>
      <header>لأصحاب الهمم</header>
      <p>
        جد الشركات الناشئة والمشاريع الواعدة وانضم إلى شركات المستقبل واصنع
        الأثر
      </p>
      <footer>
        <button>إبدأ الآن</button>
      </footer>
    </article>
  </div>
  <h2>اطّلع على المسجّلين</h2>
  <div class="grid">
    <article>
      <header>عبدالله الحصيني</header>
      <p>مستشار تقني مختص بتعلم الآلة والBackEnd</p>
      <footer>
        <button> تواصل معي </button>
        <button>المزيد</button>
      </footer>
    </article>
    <article>
      <header>سلطان الحديثي</header>
      <p>خبير تسويق وهندسة مبيعات Marketing & Sales Engineering</p>
      <footer>
        <button> تواصل معي </button>
        <button>المزيد</button>
      </footer>
    </article>
  </div>

  <h2>إنضم إلى كونكت وارسم مستقبلك الآن</h2>
  <p>كن جزء من مجتمع مؤسسي شركات المستقبل في المملكة</p>
  <button>أريد البدء</button>
  <dialog id="signupDialog" style="text-align: start;" open>
    <article>
      <header>
        <h2>سجل الآن</h2>
      </header>
      <form>
        <fieldset>
          <label
            >اسم المستخدم
            <input type="text" name="" id="" />
          </label>
          <label
            >نوع الحساب
            <select aria-label="اختر نوع الحساب">
              <option selected disabled value="">اختر نوع الحساب</option>
              <option> حساب مؤسسة </option>
              <option> حساب خبير </option>
            </select>
          </label>
          <input type="submit" value="الخطوة التالية" />
        </fieldset>
      </form>
    </article>
  </dialog>
</main>

<style>
  .grid {
    align-items: stretch;
  }

  article {
    display: flex;
    flex-direction: column;
  }

  article > footer {
    margin-top: auto;
  }
</style>

<script>
  document.querySelector("#signupDialog").open = !open;
  document.querySelectorAll("button").forEach((btn) => {
    btn.onclick = () => {
      document.querySelector("#signupDialog").open = true;
    };
  });
</script>
